*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.w-100{
    height: 100px;
    width: 100px;
}
#container{
    /* border: 1px solid red;
    width: fit-content; */
}

#div3{
    /* background */

    /* background-color: rgba(0,0,0,0.1); */
    /* color: aqua; */
    /* background-image: url("https://e0.pxfuel.com/wallpapers/232/207/desktop-wallpaper-kirito-sword-art-online-cool-kirito.jpg"); */
     /* background-size:cover; */
     /* background-repeat: no-repeat; */

     /* border */

     /* border: 1px double blue ; */
     /* border-top: 1px solid black;
     border-bottom: 1px solid red;
     border-left: 1px solid blanchedalmond;
     border-right: 1px solid black; */

     /* margin */

     /* margin-top: 50px;
     margin-bottom: 50px;
     margin-left: 50px;
     margin-right: 50px; */
     /* margin: 5px 10px; */
     /* margin: 5px 10px 15px 20px;   top, right, bottom,left */

     /* padding */

     /* padding-top: 50px;
     padding-bottom: 50px;
     padding-left: 50px;
     padding-right: 50px; */
     /* padding: 5px 10px; */
     /* padding: 5px 10px 15px 20px;   top, right, bottom,left */

     /* border Radius */
     /* border-radius: 50px; */
     /* border-top-left-radius:20px;
     border-bottom-left-radius:50px;
     border-top-right-radius:50px;
     border-bottom-right-radius:50px; */

     border: 1px solid;
     padding-top: 40%;

}
